.new-collections 
{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}
.new-collections h1
{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.new-collections hr
{
    width: 300px;
    height: 2px;
    border-radius: 10px;
    background-color: #252525;
}
.collections
{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
@media (max-width:1000px)
{
    .new-collections
    {
        height: 80vh;
        gap: 5px;
    }
    .new-collections h1
    {
        font-size: 40px;
    }
    .new-collections hr
    {
        width: 250px;
    }
    .collections
    {
        gap: 20px;
    }
}
@media (max-width:800px)
{
    .new-collections
    {
        height: auto;
        gap: 5px;
    }
    .new-collections h1
    {
        font-size: 35px;
    }
    .new-collections hr
    {
        width: 200px;
    }
    .collections
    {
        gap: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:500px)
{
    .new-collections
    {
        height: auto;
        gap: 5px;
    }
    .new-collections h1
    {
        font-size: 30px;
    }
    .new-collections hr
    {
        width: 200px;
    }
    .collections
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}